<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Activación de cuenta</h1></div>
                    <div class="box-content">
                        <div class="body-box-content centered">
                                    <br>
                                    <p>¡Bienvenido a {{ NOMBRE_SERVIDOR }}!</p>
                                    <p>La cuenta <span class="yellow-info">{{ username }}</span> ha sido activada exitosamente.</p>
                                    <br>
                                    <p>Ya puedes conectar a la página web o empezar a disfrutar del servidor.</p>
                                    <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>