<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Activación de cuenta</h1></div>
                    <div class="box-content">
                        <div class="body-box-content centered">
                                    <p class="red-info2">El enlace de activación es inválido</p>
                                    <br>
                                    <p>Si necesitas ayuda para crear una cuenta, puedes contactar con el equipo de {{ NOMBRE_SERVIDOR }}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>