<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Historial de sanciones</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content justified">
                            <br>
                            <p>Aquí podrás ver todas las sanciones que ha tenido la cuenta.</p>
                            <p>Si tienes una sanción vigente, verás que su estado indica <span class="red-info2">Activo</span>.</p>
                            <p>Para evitar que tu cuenta sea sancionada, recuerda respetar las normas de nuestro servidor.</p>
                            <br>
                            <div class="restore-item-table">
                                <p><i class="fas fa-exclamation-triangle"></i> <span>Importante:<span></span></span></p>
                                <p>Si tu cuenta aparece como sancionada o cerrada al intentar ingresar al reino, pero tu historial no tiene ninguna sanción activa, significa que has tenido un bloqueo automático temporal por demasiados intentos de inicio de sesión fallidos.</p>
                                <p>Espera al menos 10 minutos para volver a intentar y asegúrate de usar nombre de cuenta y contraseña correctas.</p>
                            </div>
                            <br>
                            <p>Para realizar un reclamo de sanción, por favor ingresa en nuestro <a href="https://foro.ultimowow.com/" target="_blank" rel="noopener noreferrer">foro</a> y visita la sección Reclamaciones.</p>
                        </div>
                    </div>

                    <div class="box-content">
                        <div class="title-box-content"><h2>Historial de baneos</h2></div>
                        <div class="body-box-content info-box-light">
                            <table class="max-center-table">
                                <tbody><tr>
                                    <td class="centered"><span>No hay baneos</span></td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Historial de muteos</h2></div>
                        <div class="body-box-content info-box-light">
                            <table class="max-center-table">
                                <tbody><tr>
                                    <td class="centered"><span>No hay muteos</span></td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>