<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Cambiar correo</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content justified">
                            <br>
                            <p>El correo actual debe escribirse tal cual figura en información de cuenta, respetando mayúsculas y minúsculas.</p>
                            <p>El correo nuevo debe ser funcional y pertenecer al dominio gmail.</p>
                            <p>Escoje un correo al que nadie más tenga acceso.</p>
                            <br>
                            <p>Si aún no tienes Token de seguridad, puedes solicitarlo <a href="security-token" target="_blank">aquí</a>.</p>
                            <div class="centered">
                                <br>
                                <br>
                                <span class="red-form-response">El cambio de correo ya no es una herramienta disponible por autogestión.</span>
                                <hr>
                                <div class="alert-message" id="change-email-response"></div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>