<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Cambiar correo</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content justified">
                            <br>
                            <p>El correo actual debe escribirse tal cual figura en información de cuenta, respetando mayúsculas y minúsculas.</p>
                            <p>El correo nuevo debe ser funcional y pertenecer al dominio gmail.</p>
                            <p>Escoje un correo al que nadie más tenga acceso.</p>
                            <br>
                            <p>Si aún no tienes Token de seguridad, puedes solicitarlo <a href="security-token" target="_blank">aquí</a>.</p>
                            <div class="centered">
                                <br>
                                <br>
<form id="nw-change-email-form" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    <table class="middle-center-table">
        <tr>
            <td><input type="password" maxlength="16" name="cur-password" id="cur-password" placeholder="Contraseña actual" required></td>
        </tr>
        <tr>
            <td><input type="email" name="cur-email" id="cur-email" placeholder="Correo actual" required></td>
        </tr>
        <tr>
            <td><input type="email" name="new-email" id="new-email" placeholder="Nuevo correo" required></td>
        </tr>
        <tr>
            <td><input type="email" name="conf-new-email" id="conf-new-email" placeholder="Confirmar nuevo correo" required></td>
        </tr>
        <tr>
            <td>
                <input type="text" maxlength="6" name="security-token" id="security-token" placeholder="Token de seguridad" required>
                <span class="far fa-eye toggle-token"></span>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="change-email-button">Cambiar Correo</button>
            </td>
        </tr>
    </table>
    <hr>
    <div class="alert-message" id="change-email-response"></div>
</form>




						</hr>
						<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>