<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Contáctanos</h1></div>
                    <div class="box-content">
                        <div class="body-box-content">
                            <p>¡Gracias por tu interés en contactar con nosotros!</p>
                            <p>Si tienes alguna pregunta, consulta o comentario, estaremos encantados de ayudarte. Por favor, envía un correo electrónico a la siguiente dirección:</p>
                            <p class="second-brown">contacto@novawow.com</p>
                            <br>
                            <p>Error 404 es la empresa que representa el servicio de {{ NOMBRE_SERVIDOR }}.</p>
                            <p>Nos esforzamos por responder a todos los mensajes en un plazo de 48 horas hábiles.</p>
                            <p>Asegúrate de incluir la información relevante en tu correo para que podamos brindarte una respuesta precisa y oportuna.</p>
                            <br>
                            <p>En Error 404, valoramos tus comentarios y opiniones. Tu satisfacción es nuestra prioridad y nos esforzamos por brindarte la mejor experiencia posible en {{ NOMBRE_SERVIDOR }}.</p>
                            <p>¡Esperamos tener noticias tuyas pronto!</p>
                            <br>
                            <p>Atentamente, el equipo de Error 404.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>