  <footer>
        <p><a href="terms-and-conditions">Términos y Condiciones</a><span class="third-brown">&nbsp;&nbsp; <i class="fas fa-grip-lines-vertical"></i>&nbsp;&nbsp; </span>
            <a href="privacy-policy">Política de Privacidad</a><span class="third-brown">&nbsp;&nbsp; <i class="fas fa-grip-lines-vertical"></i>&nbsp;&nbsp; </span>
            <a href="refund-policy">Política de Reembolso</a><span class="third-brown">&nbsp;&nbsp; <i class="fas fa-grip-lines-vertical"></i>&nbsp;&nbsp; </span>
            <a href="cookies">Declaración de Cookies</a><span class="third-brown">&nbsp;&nbsp; <i class="fas fa-grip-lines-vertical"></i>&nbsp;&nbsp; </span>
            <a href="legal-notice">Aviso legal</a><span class="third-brown">&nbsp;&nbsp; <i class="fas fa-grip-lines-vertical"></i>&nbsp;&nbsp; </span>
            <a href="contact-us">Contáctanos</a></p>
        <br />
       <p class="third-brown">© Copyright {{ NOMBRE_SERVIDOR }}™ {{ ANIO_ACTUAL }}. Todos los derechos reservados</p>
        <p class="third-brown">Diseño: "Torete apesta" Por Ryuzaki <i class="fas fa-cat"></i></p>
    </footer>