<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Ayuda</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Guía de asistencia</h2></div>
                        <div class="body-box-content justified">
                            <p>En esta guía podrás saber qué pasos seguir para obtener asistencia adecuada dependiendo del tipo de problema que hayas encontrado en nuestro servidor.</p>
                            <p>Ofrecemos un conjunto de problemas comunes, qué medios utilizar para cada caso y una explicación de cada medio de contacto.</p>
                            <p>Los diferentes medios para cada problema se listan desde el más ideal hasta la última opción.</p>
                            <br>
                            <span>Con el cliente</span>
                            <p>Problemas que impiden arrancar el cliente, conectar al servidor o errores que provocan el cierre abrupto del cliente.</p>
                            <p>Los medios son:</p>
                            <p>- Foros</p>
                            <p>- Discord</p>
                            <br>
                            <span>Con errores del servidor</span>
                            <p>Problemas relacionados a errores que deben ser reparados por nuestro equipo de reparación para mejorar el servidor.</p>
                            <p>Los medios son:</p>
                            <p>- Foros</p>
                            <br>
                            <span>Con el personaje</span>
                            <p>Problemas relacionados a errores que puedan afectar al personaje, habilidades, hechizos, misiones, etc.</p>
                            <p>Los medios son:</p>
                            <p>- Ticket</p>
                            <p>- Discord</p>
                            <br>
                            <span>Con otro jugador</span>
                            <p>Problemas relacionados a otros usuarios cometiendo faltas a las normas del servidor.</p>
                            <p>Este tipo de problemas requieren de una denuncia con las pruebas correspondientes de lo que haya sucedido.</p>
                            <p>Los medios son:</p>
                            <p>- Foros</p>
                            <br>
                            <span>Con bloqueos de cuenta</span>
                            <p>Problemas relacionados a bloqueos de cuenta realizados por el equipo de {{ NOMBRE_SERVIDOR }}.</p>
                            <p>Los medios son:</p>
                            <p>- Foros</p>
                            <br>
                            <span>Con la página web</span>
                            <p>Problemas relacionados a errores, fallas o sugerencias respecto de este sitio web.</p>
                            <p>Los medios son:</p>
                            <p>- Correo a <a href="mailto:ryuzaki@novawow.com">ryuzaki@novawow.com</a></p>
                            <br>
                            <span>Con PD</span>
                            <p>Problemas relacionados a PD o PV.</p>
                            <p>Los medios son:</p>
                            <p>- Discord (enviando un mensaje a Ryuzaki o Torete)</p>
                            <p>- Correo a <a href="mailto:contacto@novawow.com">contacto@novawow.com</a></p>
                            <br>
                            <fieldset>
                            <legend>Medios de contacto</legend>
                                <div class="separate2">
                                    <span>Ticket</span>
                                    <p>Para colocar un ticket, debes hacer click al signo de interrogación rojo en la parte inferior derecha de la interfaz del cliente (a la izquierda del llavero del personaje).</p>
                                    <p>Al hacerle click, aparecerá una ventana en el medio de la pantalla.</p>
                                    <p>En dicha ventana, hacer click al primer botón en la esquina inferior izquierda llamado 'Hablar con un MJ'</p>
                                    <p>Aparecerá una ventana con un texto informativo y debajo en medio, un botón llamado 'Abrir una consulta'.</p>
                                    <p>Al darle click al botón, aparecerá un campo de texto en el que puedes describir tu problema</p>
                                    <p>Cuando hayas finalizado haz click en el botón en el primer botón en la esquina inferior derecha llamado 'Enviar'.</p>
                                    <p>El ticket ya ha sido creado y está pendiente de respuesta de un miembro del equipo.</p>
                                    <br>
                                    <span>Discord</span>
                                    <p>Discord es una plataforma de chat y comunicación por voz que puede descargarse <a href="https://discordapp.com/" target="_blank" rel="noopener noreferrer">aquí</a>.</p>
                                    <p>Para entrar en el servidor de Discord de nuestro servidor, haz click <a href="https://discord.novawow.com" target="_blank" rel="noopener noreferrer">aquí</a>.</p>
                                    <p>Una vez que seas miembro de nuestro Discord podrás pedir ayuda en el canal 'Asistencia' o enviar un mensaje directo a cualquier miembro del equipo solicitando ayuda.</p>
                                    <br>
                                    <span>Foros</span>
                                    <p>Los foros son una gran herramienta en donde no sólo puede ayudarte el equipo de {{ NOMBRE_SERVIDOR }} sino que además otros jugadores pueden asistirte si conocen cómo resolver el problema que tengas.</p>
                                    <p>Para solicitar ayuda por este medio, debes tener un usuario con el cual poder conectar y abrir un nuevo tema en el foro adecuado.</p>
                                    <p>Puedes visitar nuestros foros <a href="https://foro.novawow.com/" target="_blank" rel="noopener noreferrer">aquí</a>.</p>
                                    <br>
                                    <span>Correo electrónico</span>
                                    <p>El servidor tiene diferentes direcciones de correo dedicados a diferentes temas del servidor.</p>
                                    <p>Depende cual sea tu problema, usa el adecuado para enviarnos un mensaje de correo.</p>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>