<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Página no encontrada</h1></div>
                    <div class="box-content">
                        <div class="body-box-content justified">
                            <p>Parece que la página que estás buscando no existe o no se encuentra disponible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>