<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Reino - <span class="blue-info">{{ server.name }}</span></h1></div>
                    <div class="box-content centered">
                        <div class="realm-information realm-information-half">
                            <h2>Rates</h2>
                            <p>Experiencia: <span>x8 modificable con .xp (Con Recluta a un Amigo x16)</span></p>
                            <p>Drop de objetos verdes y azules: <span>x4</span></p>
                            <p>Drop de oro en NPCs: <span>x2</span></p>
                            <p>Drop de oro en misiones: <span>x1</span></p>
                            <p>Habilidades: <span>x3</span></p>
                            <p>Profesiones: <span>x3</span></p>
                            <p>Reputaciones: <span>x3 (Bonus con Recluta a un amigo)</span></p>
                            <p>Honor: <span>x3</span></p>
                        </div>
                        <div class="realm-information realm-information-half">
                            <h2>Horarios</h2>
                            <p>Los siguientes horarios son basados en la hora del reino.</p>
                            <br>
                            <p>Misiones diarias: <span>7 am
                            </span></p><p>Reinicio de mazmorras diarias: <span>9 am</span></p>
                            <p>Reinicio de bandas: <span>9 am (Miércoles)</span></p>
                            <p>Campos de Batalla: <span>10 am</span></p>
                            <p>Reparto de Puntos de Arena: <span>11 am (Miércoles)</span></p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>