<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Personajes - <span class="blue-info">{{ server.name }}</span></h1></div>
                    <div class="box-content">
                        <div class="body-box-content centered">
                            <p><i class="fas fa-exclamation-triangle"></i> La información de esta página se actualiza cada 5 minutos automáticamente</p>
                        </div>
                    </div>
                    <div class="box-content">
    <div class="title-box-content centered"><h2>Personajes creados por clase</h2></div>
    <div class="body-box-content centered show-players">
        {% for data in classes_data %}
        <div class="inline-div">
            <table class="players-table">
                <tr>
                    <td><img class="img-med-icon chest-medium" src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-classes/{{ data.class_icon }}.webp"></td>
                </tr>
                <tr>
                    <td><span class="{{ data.class_name|lower }}">Total: <span>{{ data.total }}</span></span></td>
                </tr>
                <tr><td><hr></td></tr>
                <tr>
                    <td class="lefted">
                        <img class="img-small-icon-m img-small-icon-h" src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-icons/alliance-no-border.webp"> 
                        <span class="{{ data.class_name|lower }}">Alianzas: <span>{{ data.alliance }}</span></span>
                    </td>
                </tr>
                <tr>
                    <td class="lefted">
                        <img class="img-small-icon-m img-small-icon-h" src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-icons/horde-no-border.webp"> 
                        <span class="{{ data.class_name|lower }}">Hordas: <span>{{ data.horde }}</span></span>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>

                    <br>
                    <hr>
                    <br>
                    <div class="box-content">
    <div class="title-box-content centered"><h2>Primeros del Reino - Nivel 80</h2></div>
    <div class="body-box-content justified">
        <table class="max-left-table2">
            <tbody>
                <tr>
                    <th>Logro</th>
                    <th>Personaje</th>
                    <th class="responsive-td">Fecha</th>
                </tr>
                {% for achievement in first_realm_data %}
                <tr>
                    <td>
                        <img class="img-small-icon img-small-icon-h" src="{{ achievement.icon_url }}">
                        <span class="yellow-info">{{ achievement.achievement_name }}</span>
                    </td>
                    <td class="{{ achievement.race_icon }} big-font">{{ achievement.name }}</td>
                    <td class="responsive-td">{{ achievement.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

                    <br>
                    <hr>
                    <br>
                    <div class="box-content">
    <div class="title-box-content centered"><h2>Top de logros</h2></div>
    <div class="body-box-content centered">
        <p>Los 10 jugadores con más logros</p>
        <table class="char-center-table">
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Clase</th>
                <th>Puntos de logros</th>
            </tr>
            {% for player in players_with_achievements %}
            <tr>
                <td class="{{ player.class_icon }} big-font">{{ player.name }}</td>
                <td><img class="img-small-icon img-small-icon-h" src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-races/{{ player.race_icon }}.webp"></td>
                <td><img class="img-small-icon img-small-icon-h" src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-classes/{{ player.class_icon }}.jpg"></td>
                <td>{{ player.achievement_points }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

                    <br>
                    <hr>
                    <br>
                    <div class="box-content">
    <div class="title-box-content centered"><h2>Top de muertes con honor</h2></div>
    <div class="body-box-content centered">
        <p>Los 10 jugadores con más muertes con honor</p>
        <table class="char-center-table">
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Clase</th>
                <th>Total de muertes</th>
                <th>Total de muertes hoy</th>
            </tr>
            {% for player in players_with_kills %}
            <tr>
                <td class="{{ player.class_icon }} big-font">{{ player.name }}</td>
                <td>
				<img class="img-small-icon img-small-icon-h" src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-races/{{ player.race_icon }}.webp"></td>
                <td><img class="img-small-icon img-small-icon-h" src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-classes/{{ player.class_icon }}.jpg"></td>
                <td>{{ player.total_kills }}</td>
                <td>{{ player.today_kills }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
                    <br>
                    <hr>
                    <br>
                  <div class="box-content">
        <div class="title-box-content centered"><h2>Top de hermandades</h2></div>
        <div class="body-box-content centered">
            <p>Las 5 hermandades con más miembros</p>
            <table class="char-center-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Líder</th>
                        <th>Facción</th>
                        <th>Miembros</th>
                        <th class="responsive-td">Fecha de creación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guild in guilds %}
                    <tr>
                        <td><span class="ingame-green big-font">&lt;{{ guild.0 }}&gt;</span></td>
                        <td class="{{ guild.1|lower }} big-font">{{ guild.1 }}</td>
                        <td>
                            <img class="img-small-icon img-small-icon-h" 
                                 src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-icons/{{ guild.2 }}-icon.jpg">
                        </td>
                        <td><span>{{ guild.3 }}</span></td>
                        <td class="responsive-td"><span>{{ guild.4 }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                </div>
            </div>
        </div>