<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Historial de PD y PV</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content justified">
                            <br>
                            <p>Aquí verás los consumos de PD y PV más recientes que ha tenido la cuenta.</p>
                            <p>Con esta información podrás tener control de todo lo que has adquirido así como también chequear que toda la activdad sea normal.</p>
                            <p>Si observas algún movimiento sospechoso, puedes contactar con el equipo de {{ NOMBRE_SERVIDOR }}.</p>
                            <br>
                        </div>
                    </div>

                    <div class="box-content"><div class="title-box-content"><h2>Historial de PD y PV</h2></div>
                            <div class="body-box-content">
                                <table class="max-center-table-aligned2">
                                    <tbody><tr>
                                        <td><span>No hay movimientos</span></td>
                                    </tr>
                                </tbody></table>
                            </div>
                    </div>
                </div>
            </div>
        </div>