<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Política de privacidad</h1></div>
                    <div class="box-content">
                        <div class="body-box-content justified">
                            <p>Esta Política de Privacidad describe cómo recopilamos, utilizamos, almacenamos y protegemos la información personal de los usuarios ("usted" o "usuario") de nuestro sitio web. Al utilizar nuestro sitio web, usted acepta las prácticas descritas en esta política.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Recopilación de Información Personal</p>
                            <p>Recopilamos la siguiente información personal cuando usted utiliza nuestro sitio web:</p>
                            <p>1. Cookies: Utilizamos cookies para recopilar información sobre su actividad en nuestro sitio web. Las cookies son pequeños archivos de texto que se almacenan en su dispositivo y nos permiten reconocer su navegador o dispositivo y recordar cierta información. Estas cookies pueden ser cookies de sesión o cookies persistentes. Puede ajustar la configuración de su navegador para rechazar todas las cookies o para indicar cuándo se envía una cookie. Sin embargo, si desactiva las cookies, es posible que algunas funciones de nuestro sitio web no funcionen correctamente.</p>
                            <p>2. Direcciones IP: Recopilamos direcciones IP de los usuarios que visitan nuestro sitio web. Las direcciones IP se utilizan para analizar tendencias, administrar el sitio web, rastrear el movimiento del usuario y recopilar información demográfica. No vinculamos las direcciones IP con ninguna información de identificación personal.</p>
                            <p>3. Direcciones de correo electrónico: Recopilamos las direcciones de correo electrónico que usted proporciona al registrarse en nuestro sitio web o al actualizar su información de registro. Utilizamos estas direcciones de correo electrónico para enviarle información relacionada con su cuenta, como confirmaciones de registro, notificaciones de cambios en los términos o políticas, y actualizaciones de seguridad.</p>
                            <p>4. Nombres de usuario y contraseñas: Recopilamos los nombres de usuario y las contraseñas que usted elige al registrar una cuenta en nuestro sitio web. Estas credenciales se utilizan para autenticar su acceso a su cuenta y para proteger su información personal.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Uso de la Información Personal</p>
                            <p>Utilizamos la información personal que recopilamos para los siguientes fines:</p>
                            <p>1. Brindar y mejorar nuestros servicios: Utilizamos su información personal para brindarle los servicios solicitados y mejorar su experiencia en nuestro sitio web. Esto incluye personalizar el contenido y las recomendaciones, proporcionar soporte técnico, y analizar el rendimiento y la eficacia de nuestro sitio web.</p>
                            <p>2. Comunicaciones: Podemos utilizar su dirección de correo electrónico para enviarle comunicaciones relacionadas con su cuenta, como confirmaciones de registro, notificaciones de cambios en los términos o políticas, actualizaciones de seguridad y otras actualizaciones importantes.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Protección de la Información Personal</p>
                            <p>Tomamos medidas razonables para proteger la información personal que recopilamos y almacenamos. Utilizamos medidas de seguridad técnicas, administrativas y físicas para proteger su información contra el acceso no autorizado, la divulgación, la alteración o la destrucción.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Divulgación de la Información Personal a Terceros</p>
                            <p>No vendemos, intercambiamos ni transferimos su información personal a terceros sin su consentimiento, excepto en los siguientes casos:</p>
                            <p>- Proveedores de servicios: Podemos compartir su información personal con proveedores de servicios que realizan funciones en nuestro nombre, como el alojamiento del sitio web, el procesamiento de pagos y el análisis de datos. Estos proveedores de servicios tienen acceso a su información personal solo en la medida necesaria para realizar sus funciones y están obligados a no divulgar ni utilizar la información con ningún otro fin.</p>
                            <p>- Cumplimiento legal: Podemos divulgar su información personal si creemos de buena fe que dicha divulgación es necesaria para cumplir con una obligación legal, proteger sus derechos o seguridad, investigar fraudes o responder a una solicitud legal.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Sus Derechos y Opciones</p>
                            <p>Usted tiene ciertos derechos y opciones con respecto a su información personal:</p>
                            <p>- Acceso y actualización: Usted puede acceder y actualizar cierta información personal proporcionada a través de su cuenta en nuestro sitio web.</p>
                            <p>- Eliminación de datos: Usted puede solicitar la eliminación de su información personal de nuestros registros, sujeto a cualquier requisito legal o contractual que podamos tener.</p>
                            <p>- Cookies: Puede ajustar la configuración de su navegador para rechazar cookies o para indicar cuándo se envía una cookie. Sin embargo, tenga en cuenta que deshabilitar las cookies puede afectar el funcionamiento de nuestro sitio web.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Uso incorrecto de plataformas de terceros con el fin de violar nuestra política de devolución</p>
                            <p>Este tipo de acciones conllevará a la expulsión del usuario de nuestro sitio sin ningún tipo de devolución.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Cambios a esta Política de Privacidad</p>
                            <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le recomendamos que revise periódicamente esta página para conocer los cambios. La fecha de entrada en vigencia de la política se indicará en la parte superior de la página.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Contáctanos</p>
                            <p>Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, puede contactarnos a través de la siguiente información de contacto:</p>
                            <p>Error 404</p>
                            <p>novawow.com</p>
                            <p>info@novawow.com</p>
                            <br>
                            <p class="grey-info2">Fecha de actualización: 23-05-2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>