<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Código de promoción</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content justified">
                            <br>
                            <p>Los <span>Códigos de promoción</span> son palabras con letras y números que se canjean en el formulario debajo por PD o PV y tienen usos limitados. Cada uno puede dar diferente cantidad de PD/PV.</p>
                            <p>Estos códigos son generados por el Equipo de {{ NOMBRE_SERVIDOR }} y pueden aparecer en la página web, Discord, las redes sociales o el servidor.</p>
                            <p>Aconsejamos poner atención a las redes sociales y los anuncios del servidor para saber cuándo hay un código disponible.</p>
                            <br>
                            <fieldset>
                            <legend>NOTA</legend>
                                <div class="separate2">
                                    <p>Los códigos son sensibles a mayúsculas y minúsculas por lo que siempre debes escribirlos igual a como aparecen publicados.</p>
                                </div>
                            </fieldset>
                            <div class="centered">
                                <br>
                                <br>
                                <span>No hay códigos de promoción disponibles</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>