<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Política de reembolso</h1></div>
                    <div class="box-content">
                        <div class="body-box-content justified">
                            <p class="second-brown">NUESTRO SERVICIO</p>
                            <p>Todos nuestros servicios son de entrega inmediata y se reciben tal cual se encuentran descritos.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">NUESTRA RESPONSABILIDAD</p>
                            <p>Garantizamos el funcionamiento, tiempo de entrega y descripción de los servicios brindados por nuestro sitio.</p>
                            <p>Es importante que el usuario comprenda que lo que adquiere en el sitio son servicios que se reciben de forma inmediata.</p>
                            <p>No adquiere tiempo de uso de los servicios, ni beneficio alguno, ni inmunidad.</p>
                            <p>Todo caso avalado por nuestra política de devolución será tratado con el reinicio o corrección del servicio y posterior revisión garantizando el funcionamiento correcto del servicio reiniciado o corregido.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">TIEMPO DE NOTIFICACIÓN</p>
                            <p>Cualquier error o problema de nuestros servicios debe ser notificado a la administración en un período máximo de 48 horas desde la entrega del servicio.</p>
                            <p>Pasado este período de tiempo, el usuario ya no puede solicitar ningún tipo de devolución.</p>
                            <p>Contacto: <a href="mailto:contacto@novawow.com">contacto@novawow.com</a>.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">COBERTURA</p>
                            <p>Esta política de devolución cubre:</p>
                            <p>- Adquisición del servicio incorrecto por una mala selección del usuario.</p>
                            <p>- Errores ocasionados por el sitio web que hayan impedido la entrega del servicio.</p>
                            <p>- Errores ocasionados por plataformas de terceros que hayan impedido la entrega del servicio.</p>
                            <br>
                            <p>Esta política de devolución NO cubre, bajo ninguna circunstancia:</p>
                            <p>- Arrepentimientos.</p>
                            <p>- Errores en el uso del servicio realizados por el usuario.</p>
                            <p>- Desconocimiento de nuestra política de devolución.</p>
                            <p>- Uso incorrecto de plataformas de terceros con el fin de violar nuestra política de devolución.</p>
                            <p>- Expulsión de nuestro sitio por incumplimiento de nuestros términos y normas.</p>
                            <br>
                            <p class="second-brown">Solicitud de reembolso hecha a través de la plataforma de pago.</p>
                            <p>Pedir un reembolso por razones avaladas en esta política de devolución procederá a un reembolso de nuestra parte con la correspondiente cancelación del servicio adquirido.</p>
                            <br>
                            <p>Pedir un reembolso por razones no avaladas en esta política de devolución como:</p>
                            <p>- La cuenta ha sido sancionada.</p>
                            <p>- La persona ya no usa el servicio e intenta solicitar un reembolso posterior a las 48 hs del momento de la adquisición.</p>
                            <p>- Abuso de herramientas disponibles alegando razones que falten a la verdad respecto del servicio entregado.</p>
                            <p>No aplican para devolución y puede conllevar a la expulsión permanente del sitio por falta a nuestros términos y un uso inadecuado de las plataformas de pago disponibles.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Arrepentimientos</p>
                            <p>Ningún tipo de arrepentimiento posterior a la entrega de un servicio aplica para devolución.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Errores en el uso del servicio realizados por el usuario</p>
                            <p>Errores en el uso de los servicios, ocasionados por el usuario, que no tienen relación con ningún tipo de falla en el servicio entregado no aplica para devolución.</p>
                            <p>Cualquier error de usuario ocasionado por no leer la descripción de un servicio no aplica para devolución.</p>
                            <p>Una vez que el servicio se encuentra entregado, el uso del mismo queda a responsabilidad del usuario.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Desconocimiento de nuestra política de devolución</p>
                            <p>El desconocimiento por parte del usuario de nuestra política de devolución no exime al usuario de su cumplimiento.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Uso incorrecto de plataformas de terceros con el fin de violar nuestra política de devolución</p>
                            <p>Este tipo de acciones conllevará a la expulsión del usuario de nuestro sitio sin ningún tipo de devolución.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Expulsión de nuestro sitio por incumplimiento de nuestros términos y normas</p>
                            <p>Ninguna adquisición de nuestros servicios otorga ningún tipo de inmunidad.</p>
                            <p>La expulsión de un usuario de nuestro sitio no aplica a ningún tipo de devolución.</p>
                            <p>El cumplimiento de nuestros términos y normas queda a exclusiva responsabilidad del usuario y cualquier expulsión que resulte del incumplimiento de los mismos no califica a solicitar devolución de los servicios ya entregados y disfrutados.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Cambios a esta Política de Reembolso</p>
                            <p>Nos reservamos el derecho de actualizar esta Política de Reembolso en cualquier momento. Le recomendamos que revise periódicamente esta página para conocer los cambios.</p>
                            <br>
                            <hr>
                            <br>
                            <p class="second-brown">Contáctanos</p>
                            <p>Si tiene alguna pregunta o inquietud sobre esta Política de Reembolso, puede contactarnos a través de la siguiente información de contacto:</p>
                            <p>Error 404</p>
                            <p>novawow.com</p>
                            <p>info@novawow.com</p>
                            <br>
                            <p class="grey-info2">Fecha de actualización: 25-05-2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>