<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Renombrar hermandad</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content justified">
                            <br>
                            <p>La herramienta <span>Renombrar hermandad</span> te permite cambiar de nombre a una hermandad de la cual seas Maestro de Hermandad.</p>
                            <br>
                            <p>A la hora de escoger un nuevo nombre, ten en cuenta:</p>
                            <p>- La longitud máxima es de 24 caracteres.</p>
                            <p>- Los caracteres permitidos son A-Za-z y el espacio.</p>
                            <br>
                            <p>Al usar el botón RENOMBRAR HERMANDAD de la hermandad que hayas escogido, se cambiará su nombre al nuevo nombre que hayas ingresado.</p>
                            <p>El cambio de nombre de hermandad es instantáneo. Puede ser necesario que los miembros de la hermandad conectados deban volver a conectar para finalmente ver el nuevo nombre.</p>
                            <br>
                            <fieldset>
                            <legend>NOTA</legend>
                                <div class="separate2">
                                    <p>Por favor, asegúrate de haber elegido el nombre correcto ya que esta acción no es reversible una vez realizada.</p>
                                </div>
                            </fieldset>
                            <div class="centered">
                                <br>
                                <br>
                                <p>Requiere <span>1000</span> <span class="yellow-info">PD</span></p>
                                <br>
                                <span>No hay personajes Maestros de hermandad</span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>