<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Historial de seguridad</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content justified">
                            <br>
                            <p>Aquí verás la actividad de la cuenta y los últimos 20 intentos de conexión de tu cuenta a la página web.</p>
                            <p>Si observas alguna actividad sospechosa puedes cambiar la contraseña o contactar con el equipo de {{ NOMBRE_SERVIDOR }}.</p>
                        </div>
                    </div>

                    <div class="box-content">
                        <div class="title-box-content"><h2>Historial de actividad</h2></div>
                        <div class="body-box-content centered">
                            <table class="max-center-table-aligned2">
                                <tbody><tr>
                                    <td class="centered"><span>No hay actividad</span></td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>

                     <div class="box-content">
                        <div class="title-box-content"><h2>Historial de conexiones</h2></div>
                        <div class="body-box-content centered">
                            <table class="max-center-table-aligned">
                                <tbody><tr>
                                    <th>Usuario</th>
                                    <th>Estado</th>
                                    <th>IP</th>
                                    <th>Fecha</th>
                                </tr>
                                <tr>
                                    <td><span>INNAPMINE</span></td>
                                    <td><span>Conexión exitosa</span></td>
                                    <td class="long-td"><span>37.133.171.76</span></td>
                                    <td><span>12:13:36 11-11-2024</span></td>
                                </tr>
                                <tr>
                                    <td><span>INNAPMINE</span></td>
                                    <td><span>Conexión exitosa</span></td>
                                    <td class="long-td"><span>37.133.171.76</span></td>
                                    <td><span>12:03:48 11-11-2024</span></td>
                                </tr>
                                <tr>
                                    <td><span>INNAPMINE</span></td>
                                    <td><span>Conexión exitosa</span></td>
                                    <td class="long-td"><span>37.133.171.76</span></td>
                                    <td><span>10:12:54 11-11-2024</span></td>
                                </tr>
                                <tr>
                                    <td><span>INNAPMINE</span></td>
                                    <td><span>Conexión exitosa</span></td>
                                    <td class="long-td"><span>37.133.171.76</span></td>
                                    <td><span>05:55:34 11-11-2024</span></td>
                                </tr>
                                <tr>
                                    <td><span>INNAPMINE</span></td>
                                    <td><span>Conexión exitosa</span></td>
                                    <td class="long-td"><span>84.236.195.21</span></td>
                                    <td><span>18:48:48 10-11-2024</span></td>
                                </tr>
                                <tr>
                                    <td><span>INNAPMINE</span></td>
                                    <td><span>Conexión exitosa</span></td>
                                    <td class="long-td"><span>84.236.195.21</span></td>
                                    <td><span>18:17:30 10-11-2024</span></td>
                                </tr>
                                <tr>
                                    <td><span>INNAPMINE</span></td>
                                    <td><span>Conexión exitosa</span></td>
                                    <td class="long-td"><span>84.236.195.21</span></td>
                                    <td><span>14:25:53 10-11-2024</span></td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>