    <div class="social-media">
        <span class="big-font">SÍGUENOS EN</span>
        <a href="https://www.facebook.com/NovaWoW/" class="social-button social-button-responsive facebook" target="_blank" title="Facebook NovaWoW" rel="noopener noreferrer">
            <div class="social-inline">
                <i class="fab fa-facebook-f"></i>
            </div>
        </a>
        <a href="https://www.instagram.com/NovaWoW/" class="social-button social-button-responsive instagram" target="_blank" title="Instagram NovaWoW" rel="noopener noreferrer">
            <div class="social-inline">
                <i class="fab fa-instagram"></i>
            </div>
        </a>
        <a href="https://twitter.com/NovaWoW" class="social-button social-button-responsive twitter" target="_blank" title="Twitter NovaWoW" rel="noopener noreferrer">
            <div class="social-inline">
                <i class="fab fa-x-twitter"></i>
            </div>
        </a>
        <a href="https://www.youtube.com/channel/UCaHL8BZcho8AkeM9wckQbyg" class="social-button social-button-responsive youtube" target="_blank" title="Youtube NovaWoW" rel="noopener noreferrer">
            <div class="social-inline">
                <i class="fab fa-youtube"></i>
            </div>
        </a>
        <a href="https://discord.novawow.com" class="social-button social-button-responsive discord" target="_blank" title="Discord NovaWoW" rel="noopener noreferrer">
            <div class="social-inline">
                <i class="fab fa-discord"></i>
            </div>
        </a>
    </div>