<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Transferir pd</h1></div>
                    <div class="box-content justified">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content">
                            <br>
                            <p>La herramienta <span>Transferir PD</span> permite transferir PD desde tu cuenta a cualquier otra cuenta.</p>
                            <br>
                            <p>Al usar el botón TRANSFERIR PD se transferirá la cantidad que hayas escogido desde tu cuenta a la cuenta del personaje que hayas indicado.</p>
                            <br>
                            <p>Si aún no tienes Token de seguridad, puedes solicitarlo <a href="security-token" target="_blank">aquí</a>.</p>
                            <br>
                            <fieldset>
                            <legend>NOTA</legend>
                                <div class="separate2">
                                    <p>Por favor, asegúrate de haber escrito el nombre del personaje correcto ya que esta acción no es reversible una vez realizada.</p>
                                </div>
                            </fieldset>

                            <div class="centered">
                                <br>
                                <br>
                                <span>No tienes PD</span>

                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>