<div class="main-page">
            <div class="middle-content">
                <div class="body-content">
                <div class="title-content"><h1>Historial de transacciones</h1></div>
                    <div class="box-content">
                        <div class="title-box-content"><h2>Información</h2><a class="back-to-account" href="my-account">Regresar a mi cuenta</a><a class="back-to-account-responsive" href="my-account">Regresar</a></div>
                        <div class="body-box-content">
                            <br>
                            <p>Aquí verás la información que recibimos de nuestras diferentes plataformas automáticas.</p>
                            <br>
                            <p>¿Has tenido algún problema con alguna transacción?</p>
                            <p>Si has tenido un problema con una de las transacciones o no has recibido tus PD, puedes contactarnos en nuestro Discord o a través del correo <a href="mailto:contacto@ultimowow.com">contacto@ultimowow.com</a>.</p><p>
                        </p></div>
                    </div>
                    <br>
                    <div class="box-content">
                        <div class="title-box-content"><h2><img src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-logos/dlocalgo-logo.webp" alt="dLocal" title="dLocal"> DLocal Go</h2></div>
                            <div class="body-box-content">
                                <p>Recibirás los PD correspondientes a cada transacción sólo cuando esté aprobado y el estado sea <span class="green-info2">PAID</span> (Pagado).</p>
                                <br>
                                <p><span class="red-info2">Importante:</span> Dependiendo del método elegido, puede demorar hasta 2 días hábiles en ser aprobado por dLocal Go.</p>
                                <div class="trade-information">
                                    <p>Tiempo aproximado de procesamiento de pagos según método:</p>
                                    <p>- Tarjeta de crédito/debito: En minutos</p>
                                    <p>- Efectivo: 1 a 2 días hábiles</p>
                                    <p>- Transferencia bancaria: 1 día hábil</p>
                                </div>
                                <table class="max-center-table-aligned">
                                    <tbody><tr>
                                        <td><span>No hay movimientos</span></td>
                                    </tr>
                                </tbody></table>
                            </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="box-content">
                        <div class="title-box-content"><h2><img src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-logos/paypal-p-logo.webp" alt="PayPal" title="PayPal"> PayPal</h2></div>
                            <div class="body-box-content">
                                <table class="max-center-table-aligned">
                                    <tbody><tr>
                                        <td><span>No hay movimientos</span></td>
                                    </tr>
                                </tbody></table>
                            </div>
                    </div>
                </div>
            </div>
        </div>