 <div class="div-nw-video">
        <div class="nw-main-logo">
            <a href="{{ URL_PRINCIPAL }}/static/"><img class="uw_main_logo_img" src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-images/nw-logos/novawow-main-logo-transparent.webp" alt="{{ NOMBRE_SERVIDOR }}" title="{{ NOMBRE_SERVIDOR }}" /></a>
        </div>
        <div id="live-stream-div">
            <div id="live-stream-announce">
                <a href="./#live-stream" id="live-stream-a"><i class="fas fa-video"></i></a>
            </div>
        </div>
        <video class="nw-video" autoplay="" loop="" muted>
            <source src="{{ URL_PRINCIPAL }}/static/nw-themes/nw-ryu/nw-videos/nw-logo.mp4" />
        </video>
    </div>